<div id="create-issue-container">
    <form action="/projects/issues/create" method="POST">
        <input type="text" name="title" placeholder="Issue-title" required>
        <br>
        <input type="text" name="description" placeholder="Describe the issue" required>
        <br>
        <input type="text" name="author" placeholder="Author" required>
        <br>
        <span id="labels">
            <input type="checkbox" name="issueLabelOne">
            <label for="issueLabelOne">Severity-1</label>
            <!-- <br> -->
            <input type="checkbox" name="issueLabelTwo">
            <label for="issueLabelTwo">Severity-2</label>
            <!-- <br> -->
            <input type="checkbox" name="issueLabelThree">
            <label for="issueLabelThree">Severity-3</label>
            <!-- <br> -->
            <input type="checkbox" name="issueLabelFour">
            <label for="issueLabelFour">Severity-4</label>
        </span>
        <br>
        <input type="hidden" name="project" value="<%=locals.project._id%>">
        <button id="create-issue-btn" class="font-family-bahnschrift">Create New Issue</button>
    </form>
</div>