body {
    margin: 0;
    #projects-home {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: rgb(94,114,128);
        background-color: rgb(62,62,62);
        // max-height: 100vh;
        // min-height: 100vh;
        // background-image: url("../images/homepage_wallpaper.jpg");
        // background-repeat: no-repeat;
        // background-size: cover;
        height: 99.3vh;
        border: 2px solid black;
        #project-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35%;
            margin: 0 2%;
            // margin-top: 10%;
            align-self: center;
            padding: 1%;
            border-radius: 5px;
            background: inherit;
            background-color: rgb(36,52,69);
            background-color: rgb(35,35,35);
            // border: 1.5px solid black;
            // background-color: rgb(187,175,220);  // lavender-ish color
            form {
                width: 90%;
                margin: 0;
                // border: 2px solid black;
                input {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 3%;
                    margin: 5% 0;
                    font-size: 0.9rem;
                    background-color: rgb(129, 142, 151);
                    background-color: whitesmoke;
                    color: white;
                    transition: 0.3s;
                    font-size: 1.5rem;
                    border: 2px solid rgb(62,62,62);
                    border-radius: 6px;
                    transition: 0.2s;
                }
                input::placeholder {
                    color: rgb(26,26,26);
                    opacity: 1;
                }
                input:hover {
                    border: 2px solid whitesmoke;
                    transition: 0.2s;
                }
                #create-project-btn {
                    margin-top: 15%;
                    transition: 0.2s;
                    width: 50%;
                    margin-left: 25%;
                    color:rgb(151, 163, 175);
                    color: white;
                    background-color: rgb(77, 96, 116);
                    background-color: rgb(26,26,26);
                    border-radius: 10px;
                }
                
                #create-project-btn:hover {
                    cursor: pointer;
                    // background-color: rgb(36,52,69);
                    // color: white;
                    border: 2px solid rgb(203, 204, 195);
                    color: rgb(203, 204, 195);
                    transition: 0.1s;
                }
            }
        }
        #projects-list-container {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            width: 70%;
            height: 100%;
            overflow: scroll;
            background-color: rgb(224,152,133);
            background-color: rgb(36,52,69);
            background-color: rgb(35,35,35);
            // background-image: linear-gradient(rgb(45,47,58), rgb(198,188,180));
            border: 1.5px solid black;
            ul {
                // display: flex;
                // flex-direction: column;
                // width: 100%;
                padding: 4%;
                // border: 2px solid black;
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 8%;
                    border-radius: 8px;
                    list-style: none;
                    margin: 5%;
                    background-color: rgb(232,180,163);
                    background-color: rgb(94,114,128);
                    background-color: rgb(62,62,62);
                    // background-image: linear-gradient(rgb(255,87,96), rgb(255,82,154));
                    // border: 2px solid black;
                    a {
                        text-decoration: none;
                        color: rgb(25, 36, 48);
                        color: whitesmoke;
                        transition: 0.2s;
                    }
                    a:hover {
                        color: rgb(159,161,144);
                        transition: 0.1s;
                    }
                }
            }
        }
        #projects-list-container::-webkit-scrollbar {
            width: 0;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
    }
}

// other styles
.font-family-bahnschrift {
    font-family: bahnschrift;
}

.font-size-1point8rem {
    font-size: 1.8rem;
}

.font-size-1point6rem {
    font-size: 1.6rem;
}

.font-size-1point4rem {
    font-size: 1.4rem;
}