body {
    margin: 0;
    #projects-home {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: rgb(94,114,128);
        background-color: rgb(62,62,62);
        // max-height: 100vh;
        // min-height: 100vh;
        // background-image: url("../images/homepage_wallpaper.jpg");
        // background-repeat: no-repeat;
        // background-size: cover;
        height: 99.3vh;
        border: 2px solid black;
        #project-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35%;
            margin: 0 2%;
            // margin-top: 10%;
            align-self: center;
            padding: 1%;
            border-radius: 5px;
            background: inherit;
            background-color: rgb(36,52,69);
            background-color: rgb(35,35,35);
            // border: 1.5px solid black;
            // background-color: rgb(187,175,220);  // lavender-ish color
            form {
                width: 90%;
                margin: 0;
                // border: 2px solid black;
                input {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 3%;
                    margin: 5% 0;
                    font-size: 0.9rem;
                    background-color: rgb(129, 142, 151);
                    background-color: whitesmoke;
                    color: black;
                    transition: 0.3s;
                    font-size: 1.5rem;
                    border: 2px solid rgb(62,62,62);
                    border-radius: 6px;
                    transition: 0.2s;
                }
                input::placeholder {
                    color: rgb(26,26,26);
                    opacity: 1;
                }
                input:hover {
                    border: 2px solid whitesmoke;
                    transition: 0.2s;
                }
                #create-project-btn {
                    margin-top: 15%;
                    width: 50%;
                    margin-left: 25%;
                    color:rgb(151, 163, 175);
                    color: white;
                    background-color: rgb(77, 96, 116);
                    background-color: rgb(26,26,26);
                    background-color: rgb(35,35,35);
                    border-radius: 10px;
                    border: 2px solid rgb(35,35,35);
                    transition: 0.16s;
                }
                
                #create-project-btn:hover {
                    cursor: pointer;
                    // background-color: rgb(36,52,69);
                    // color: white;
                    border: 2px solid rgb(203, 204, 195);
                    // color: rgb(203, 204, 195);
                    transition: 0.16s;
                }
            }
        }
        #projects-list-container {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            width: 70%;
            height: 100%;
            overflow: scroll;
            background-color: rgb(35,35,35);
            // background-image: linear-gradient(rgb(45,47,58), rgb(198,188,180));
            border: 1.5px solid black;
            ul {
                // display: flex;
                // flex-direction: column;
                // width: 100%;
                padding: 5%;
                margin-top: 6.5%;
                // border: 2px solid black;
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // padding: 7%;
                    border-radius: 8px;
                    list-style: none;
                    margin: 5%;
                    background-color: rgb(35,35,35);
                    // background-image: linear-gradient(rgb(255,87,96), rgb(255,82,154));
                    // border: 2px solid black;
                    a {
                        text-decoration: none;
                        color: rgb(25, 36, 48);
                        color: whitesmoke;
                        transition: 0.2s;
                    }
                    
                    #issue-a-tag {
                        text-align: center;
                        background-color: red;
                        padding: 10% 8%;
                        border-radius: 8px;
                        width: 83.5%;
                        background-color: rgb(62,62,62);
                        transition: 0.1s;
                    }
                    #issue-a-tag:hover {
                        transition: 0.1s;
                        box-shadow: 0px 0px 10px whitesmoke;
                    }
                    #delete-project-btn {
                        // position: absolute;
                        position: relative;
                        bottom: 225px;
                        opacity: 0;
                        padding: 3%;
                        left: 360px;
                        color: whitesmoke;
                        size: 1.2rem;
                    }
                }
                li:hover #delete-project-btn {
                    position: relative;
                    bottom: 235px;
                    opacity: 100%;
                }
                #delete-project-btn:hover {
                    color: rgb(241, 135, 135);
                }
            }
        }
        #projects-list-container::-webkit-scrollbar {
            width: 0;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
        #no-project-container {
            position: absolute;
            top: 35%;
            left: 55%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(62,62,62);
            font-family: bahnschrift;
        }
    }
}

// other styles
.font-family-bahnschrift {
    font-family: bahnschrift;
}

.font-size-1point8rem {
    font-size: 1.8rem;
}

.font-size-1point6rem {
    font-size: 1.6rem;
}

.font-size-1point4rem {
    font-size: 1.4rem;
}