body {
    margin: 0;
}

header {
    background-color: rgb(35,35,35);
    height: 25vh;
    a {
        position: absolute;
        text-decoration: none;
        color: whitesmoke;
        top: 1.5%;
        left: 0.5%;
        span {
            color: rgb(35,35,35);
            transition: 0.3s;
        }
        transition: 0.3s;
    }
    a:hover {
        left: 1%;
        span {
            color: white;
            transition: 0.3s;
        }
        transition: 0.3s;
    }
    // border: 2px solid black;
}

#project-container {
    position: fixed;
    // opacity: 80%;
    left: 35%;
    top: 1%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35,35,35);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    border-left: none;
    border-right: none;
    // border: 2px solid white;
    #project-name {
        position: fixed;
        left: 2%;
        top: 14.4%;
    }
    #create-issue-container {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4% 0;
            margin: 0;
        }
        form>input {
            width: 80%;
            text-align: center;
            background-color: white;
            border: 2px solid grey;
            border-radius: 3px;
            padding: 2%;
            transition: 0.2s;
            font-family: bahnschrift;
        }
        form>input:hover {
            border: 2px solid white;
            transition: 0.2s;
        }
        #create-issue-btn {
            border: none;
            border-radius: 3px;
            padding: 2%;
            border: 2px solid grey;
            background-color: grey;
            color: white;
            transition: 0.16s;
        }
        #create-issue-btn:hover {
            cursor: pointer;
            border: 2px solid whitesmoke;
            border-radius: 4px;
            transition: 0.16s;
        }
    }
    #search-issue-container {
        position: fixed;
        left: 84%;
        top: 19.5%;
        width: 15%;
        input {
            border-radius: 6px;
            padding: 3%;
            background-color: rgb(70,70,70);
            border: 3px solid rgb(35,35,35);
            color: white;
            font-family: bahnschrift;
            font-size: 0.8rem;
            transition: 0.16s;
            width: 81%;
        }
        input::placeholder {
            color: rgb(195, 195, 195);
            transition: 0.16s;
        }
        input:hover {
            border: 3px solid rgb(70,70,70);
        }
        #search-issue-btn {
            padding: 2%;
            border-radius: 100%;
            background-color: rgb(35,35,35);
            color: white;
            border: 2px solid rgb(35,35,35);
            transition: 0.15s;
        }
        #search-issue-btn:hover {
            cursor: pointer;
            border:2px solid rgb(189, 189, 189);
            transition: 0.15s;
        }
    }
    #filter-issue-container {
        position: fixed;
        left: 84.2%;
        top: 26%;
        width: 16%;
        #filter-author-form {
            select {
                width: 75%;
                #select2-filter-author-list-container {
                    color: rgb(250, 91, 91);
                }
            }
        }
        #filter-btn {
            position: absolute;
            top: 18%;
            left: 77%;
            background-color: rgb(70,70,70);
            border-radius: 100%;
            border: 2px solid rgb(70,70,70);
            padding: 2.5%;
            color: rgb(35,35,35);
            font-size: 1.07rem;
            transition: 0.16s;
            i {
                color: white;
            }
        }
        #filter-btn:hover {
            border-color: white;
            cursor: pointer;
            transition: 0.16s;
        }
    }
}

#issue-list-container {
    position: fixed;
    left: 13%;
    top: 42%;
    width: 75%;
    height: 57%;
    overflow: scroll;
    background-color: rgb(62,62,62);
    background-color: rgb(35,35,35);
    border-radius: 10px;
    table {
        width: 100%;
        table-layout: fixed;
        #head-row {
            position: sticky;
            top: 0%;
            background-color: rgb(35,35,35);
        }
        tr {
            background-color: rgb(247,247,248);
            border: 2px solid black;
        }
        tr:nth-child(2n+1) {
            background-color: white;
        }
        tr:hover #delete-issue-btn {
            opacity: 100%;
            transition: 0.1s;
        }
        td {
            text-align: center; 
            vertical-align: middle;
            // border-spacing: 0;
            padding: 1.3% 0.2%;
            overflow-wrap: break-word;
        }
        #delete-issue-btn {
            border: none;
            background-color: none;
            opacity: 0;
            transition: 0.1s;
            a {
                margin-right: 8px;
                color: black;
                transition: 0.1s;
            }
            a:hover{
                color: rgb(250, 91, 91);
                transition: 0.1s;
            }
        }
        
    }
    #remove-filter-btn {
        position: fixed;
        top: 51.8%;
        left: 84.8%;
        transform: rotate(90deg);
        padding: 0.3%;
        border-radius: 3px;
        background-color: rgb(35,35,35);
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color:rgb(195, 195, 195);
        }
    }
}

#issue-list-container::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

footer {
    background-color: rgb(70,70,70);
    height: 75vh;
}

// other styles
.font-family-bahnschrift {
    font-family: bahnschrift;
}

.color-white {
    color: white;
}

.color-orange {
    color: rgb(255,161,22);
}

.font-family-2point5rem {
    font-size: 2.5rem;
}

.font-family-1point1rem {
    font-size: 1.1rem;
}