body {
  margin: 0; }
  body #projects-home {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #5e7280;
    background-color: #3e3e3e;
    height: 99.3vh;
    border: 2px solid black; }
    body #projects-home #project-form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      margin: 0 2%;
      align-self: center;
      padding: 1%;
      border-radius: 5px;
      background: inherit;
      background-color: #243445;
      background-color: #232323; }
      body #projects-home #project-form-container form {
        width: 90%;
        margin: 0; }
        body #projects-home #project-form-container form input {
          display: block;
          width: 100%;
          text-align: center;
          padding: 3%;
          margin: 5% 0;
          font-size: 0.9rem;
          background-color: #818e97;
          background-color: whitesmoke;
          color: black;
          transition: 0.3s;
          font-size: 1.5rem;
          border: 2px solid #3e3e3e;
          border-radius: 6px;
          transition: 0.2s; }
        body #projects-home #project-form-container form input::placeholder {
          color: #1a1a1a;
          opacity: 1; }
        body #projects-home #project-form-container form input:hover {
          border: 2px solid whitesmoke;
          transition: 0.2s; }
        body #projects-home #project-form-container form #create-project-btn {
          margin-top: 15%;
          width: 50%;
          margin-left: 25%;
          color: #97a3af;
          color: white;
          background-color: #4d6074;
          background-color: #1a1a1a;
          background-color: #232323;
          border-radius: 10px;
          border: 2px solid #232323;
          transition: 0.16s; }
        body #projects-home #project-form-container form #create-project-btn:hover {
          cursor: pointer;
          border: 2px solid #cbccc3;
          transition: 0.16s; }
    body #projects-home #projects-list-container {
      width: 70%;
      height: 100%;
      overflow: scroll;
      background-color: #232323;
      border: 1.5px solid black; }
      body #projects-home #projects-list-container ul {
        padding: 5%;
        margin-top: 6.5%; }
        body #projects-home #projects-list-container ul li {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 8px;
          list-style: none;
          margin: 5%;
          background-color: #232323; }
          body #projects-home #projects-list-container ul li a {
            text-decoration: none;
            color: #192430;
            color: whitesmoke;
            transition: 0.2s; }
          body #projects-home #projects-list-container ul li #issue-a-tag {
            text-align: center;
            background-color: red;
            padding: 10% 8%;
            border-radius: 8px;
            width: 83.5%;
            background-color: #3e3e3e;
            transition: 0.1s; }
          body #projects-home #projects-list-container ul li #issue-a-tag:hover {
            transition: 0.1s;
            box-shadow: 0px 0px 10px whitesmoke; }
          body #projects-home #projects-list-container ul li #delete-project-btn {
            position: relative;
            bottom: 225px;
            opacity: 0;
            padding: 3%;
            left: 360px;
            color: whitesmoke;
            size: 1.2rem; }
        body #projects-home #projects-list-container ul li:hover #delete-project-btn {
          position: relative;
          bottom: 235px;
          opacity: 100%; }
        body #projects-home #projects-list-container ul #delete-project-btn:hover {
          color: #f18787; }
    body #projects-home #projects-list-container::-webkit-scrollbar {
      width: 0;
      /* Remove scrollbar space */
      background: transparent;
      /* Optional: just make scrollbar invisible */ }
    body #projects-home #no-project-container {
      position: absolute;
      top: 35%;
      left: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #3e3e3e;
      font-family: bahnschrift; }

.font-family-bahnschrift {
  font-family: bahnschrift; }

.font-size-1point8rem {
  font-size: 1.8rem; }

.font-size-1point6rem {
  font-size: 1.6rem; }

.font-size-1point4rem {
  font-size: 1.4rem; }
